@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: green;
    --border-colour: black;
    --error-colour: red; 
    --accent-colour: #ccccc5; 
    --semi-accent-colour: #ddddce;
  }
}
