@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #ffe;
    --border-colour: black;
    --error-colour: red; 
    --accent-colour: #ccccc5; 
    --semi-accent-colour: #ddddce;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-colour: black;
    --border-colour: #4A1867;
    --error-colour: red; 
    --accent-colour: #AA88BE; 
    --semi-accent-colour: #5E5C60;
    --font-colour: white;
  }
} /*actually dark*/
